@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --h1: #101828;
  --h2-highlight: #344054;
  --h3: #475467;
  --h4: #667085;
  --hover: #ebebf8;
  --hyperlink: #4786e7;
  --bg-main: #ededf3;
  --primary: #7474c9;
  --toggle-icon-grey: #9696a4a8;
  --green: #4ac86e;
  --border: #d0d5dd;
  --divider: #eaecf0;
}

h1 {
  color: var(--h1, #101828);
}

body {
  background-color: #ededf3;
  font-family: "Inter", sans-serif;
}

.ant-table-column-title {
  flex-grow: 0 !important;
}

/* .ant-table-filter-column {
  padding: 8px 16px;
} */

.ant-table-tbody > tr > td {
  word-wrap: break-word;
  word-break: break-all;
}
