@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --h1: #101828;
}

h1 {
  color: var(--h1, #101828);
}

body {
  background-color: #ededf3;
  font-family: "Inter", sans-serif;
}

.ant-table-column-title {
  flex-grow: 0 !important;
}

/* .ant-table-filter-column {
  padding: 8px 16px;
} */

.ant-table-tbody > tr > td {
  word-wrap: break-word;
  word-break: break-all;
}
